{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block bread %}
    → User Profile
{% endblock %}

{% block body %}

{{ include('profile/_profile_head.html.twig') }}
{{ include('profile/_profile_buttons.html.twig') }}

<div class="mt-5">
{# Отобразит посты только пользователя #}
{{ include ('micro_post/_post_list.html.twig', {posts: posts}) }}
</div>

{% endblock %}
