{% extends 'base.html.twig' %}

{% block body %}
<div>The current block is </div>
<div>
    <div> {{ message.message }}</div>
    <b>
        {{ include ('hello/_message.html.twig', {message:message}) }}
    </b>
</div>
{% endblock %}
